<dl class="dl-horizontal">
  <dt>Ogólne</dt>
  <dd>
  Ta strona umożliwia skonfigurowanie ustawień dla wielu dodatkowych funkcji Hubzilli.
  </dd>
  <dt><a href='#' onclick='$("#general-settings-title h3 a").click();
  	setTimeout((function() {contextualHelpFocus("#general-settings-title", 0)}), 1000);
  	return false;' title="Klikniaj,  aby podświetlić element...">Główne cechy</a></dt>
  <dd>
  Ogólne ustawienia funkcji zawierają opcje związane z Twoim kanałem, takie jak
  hosting strony internetowej i wiki.
  </dd>
	<dt><a href='#' onclick='$("#composition-settings-title h3 a").click();
	setTimeout((function() {contextualHelpFocus("#composition-settings-title", 0)}), 1000);
	return false;' title="Klikniaj,  aby podświetlić element...">Funkcje kompozycji postów</a></dt>
  <dd>
  	Funkcje kompozycji postów zapewniają dodatkowe opcje i możliwości podczas
  	tworzenia nowych postów.
  </dd>
	<dt><a href='#' onclick='$("#net_module-settings-title h3 a").click();
	setTimeout((function() {contextualHelpFocus("#net_module-settings-title", 0)}), 1000);
	return false;' title="Klikniaj,  aby podświetlić element...">Sieć i fitrowanie strumienia</a></dt>
  <dd>
  	Te ustawienia modyfikują funkcje związane z filtrowaniem i kontrolowaniem widoku
  	przychodzących postów.
  </dd>
	<dt><a href='#' onclick='$("#tools-settings-title h3 a").click();
	setTimeout((function() {contextualHelpFocus("#tools-settings-title", 0)}), 1000);
	return false;' title="Klikniaj,  aby podświetlić element...">Narzędzia postów i komentarzy</a></dt>
  <dd>
  	Ustawienia te zapewniają dodatkowe narzędzia do kategoryzowania postów
  	i umożliwiają dodatkowe metody komentowania, takie jak emoji lub tagowanie
  	społecznościowe.  
  </dd>
</dl>